a {
    text-decoration: none;
    color: lightblue;
    font-size: 24px;
}

h1 {
    font-size: 18px;
    margin: 6px;
}

.item {
    border: 1px solid #000;
    align-content: center;
    width:80%;
    min-width:500px;
    margin:10px auto;
    padding:none;
    background: #eee;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 0 5px;
    margin:none;
    width: 100%;
    border: none;
    text-align: left;
}
  
.active, .collapsible:hover {
    background-color: #555;
}
  
.content {
    padding:0 15px;
    overflow: hidden;
    background-color: #f1f1f1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
